{{! The 'line types' folder needs to be copied to a custom style to modify this file. }}

<div type="{{lineType}}" 
		data-type="{{lineType}}" data-sender="{{formattedNickname}}"
		command="{{rawCommand}}"
		highlight="{{highlightAttributeRepresentation}}" 
		class="line {{lineClassAttributeRepresentation}} pure-g with-sender" 
		id="line-{{lineNumber}}"
		time="{{lineRenderTime}}">
		
	<span class="sender pure-u-1"
			ondblclick="Textual.nicknameDoubleClicked()" 
			oncontextmenu="Textual.openStandardNicknameContextualMenu()" 
			type="{{nicknameType}}" 
			nick="{{nickname}}" 
			{{#nicknameColorHashingEnabled}} 
				colornumber="{{nicknameColorNumber}}"
			{{/nicknameColorHashingEnabled}}>
		{{formattedNickname}}
	</span>

{{#isRemoteMessage}}
	<p>
{{^isRemoteMessage}}
	<p type="{{nicknameType}}">
{{/isRemoteMessage}}

		
{{#isEncrypted}}
	{{{encryptedMessageLockTemplate}}}
{{/isEncrypted}}

		<span class="pure-u-11-12">
			<span class="message" type="{{lineType}}">
				
				{{{formattedMessage}}}
				
				{{#inlineMediaAvailable}}
					{{#inlineMediaArray}}
						<a href="{{{anchorLink}}}" onclick="return Textual.hideInlineImage(this)"><img src="{{{imageURL}}}" class="inlineimage" style="max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
					{{/inlineMediaArray}}
				{{/inlineMediaAvailable}}
			</span>
		</span>

		<span class="time pure-u-1-12">{{formattedTimestamp}}</span>
	</p>
</div>